@import "../../../styles/mixins/mixins.scss";
@import "../../../styles/common/var.scss";

@include b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border: $--border-base;
  text-align: center;
  color: $--color-text-primary;
  outline: none;
  @include button-variant($--color-text-regular, $--color-white, $--border-color-base);
  @include button-size($--button-padding, $--font-size-base, $--border-radius-base);
  &:hover,
  &:focus {
    color: $--color-primary;
    border-color: $--color-primary-light-7;
    background-color: $--color-primary-light-9;
  }
  & + & {
    margin-left: 10px;
  }

  & [class*="z-icon-"] {
    & + span {
      margin-left: 5px;
    }
  }

  @include when(round) {
    border-radius: 9999px !important;
  }

  @include when(circle) {
    border-radius: 50% !important;
    padding: $--button-padding-vertical;
  }

  @include m(primary) {
    @include button-variant($--color-white, $--color-primary);
  }

  @include m(success) {
    @include button-variant($--color-white, $--color-success);
  }

  @include m(info) {
    @include button-variant($--color-white, $--color-info);
  }

  @include m(warning) {
    @include button-variant($--color-white, $--color-warning);
  }

  @include m(danger) {
    @include button-variant($--color-white, $--color-danger);
  }

  @include m(medium) {
    @include button-size($--button-medium-padding, $--font-size-base, $--border-radius-base);
    @include when(circle) {
      padding: $--button-medium-padding-vertical;
    }
  }

  @include m(small) {
    @include button-size($--button-small-padding, $--font-size-extra-small, $--border-radius-small);
    @include when(circle) {
      padding: $--button-small-padding-vertical;
    }
  }

  @include m(mini) {
    @include button-size($--button-mini-padding, $--font-size-extra-small, $--border-radius-small);
    @include when(circle) {
      padding: $--button-mini-padding-vertical;
    }
  }

  @include m(text) {
    border-color: transparent;
    color: $--color-primary;
    border-color: transparent;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    &:hover, &:focus {
      background: transparent;
      border-color: transparent;
      color: mix($--color-white, $--color-primary, $--button-hover-tint-percent);
    }
    @include when(disabled) {
      color: mix($--color-white, $--color-primary);
      &:hover, &:focus {
        cursor: not-allowed;
        color: mix($--color-white, $--color-primary);
      }
    }
  }

  @include when(loading) {
    position: relative;
    pointer-events: none;

    &:before {
      pointer-events: none;
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      // background-color: rgba(255,255,255,.35);
    }
  }

  @include when(disabled) {
    &:hover,
    &:focus {
      cursor: not-allowed;
    }
  }
}
